#b1
{
    position: absolute ; 
    border-radius: 42%; 
    border-color: black;
    font-weight: 600; font-family: 'Courier New', Courier, monospace;
}
div
{
    align-items: center; 
    justify-content: center; 
    display: flex;
    margin-top: 20%;
}
#a1{
text-decoration: none;
}
#a2{
text-decoration: none;
}